<h1>Editing occurence</h1>

<% form_for(@occurence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </p>
  <p>
    <%= f.label :ice_cube_yaml %><br />
    <%= f.text_area :ice_cube_yaml %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @occurence %> |
<%= link_to 'Back', occurences_path %>